/*Colors*/
:root {
  --text-color: #ffffff;
  --background-color: #221727;
  --foreground-color: #5ef4d6;
  --default-color: #4143b1;
  --shadow-color: #000000;
}

/*Reset browser for styling*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*General Styling*/
html {
  background: var(--default-color);
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}

/*Main Header Styling*/
.main-about-header {
  margin-top: 12px;
  text-align: center;
  font-family: "Viga", sans-serif;
  font-weight: lighter;
  font-size: 1.8rem;
  color: var(--foreground-color);
  text-shadow: 0px 3px 4px var(--shadow-color);
}

/*About Styling*/
.about {
  margin: 10px 20px;
  overflow: hidden;
  text-align: center;
  color: var(--text-color);
  border: 2px solid var(--foreground-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.about .about__img {
  min-width: 300px;
  height: 200px;
  background-image: url("./../images/mintbean-dome.png");
  background-position: center;
  background-size: cover;
}

.about .about__text-container {
  padding: 20px 20px;
}

.about .about__text-container__header {
  font-family: "Viga", sans-serif;
  font-weight: lighter;
}

.about .about__text-container__join-btn {
  padding: 10px;
  margin-top: 15px;
  width: 270px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  border-style: none;
  border-radius: 5px;
  border-color: var(--foreground-color);
  background-color: var(--foreground-color);
}

/*Web Page Styling*/
@media (min-width: 1000px) {
  /*Main Header Styling*/
  .main-about-header {
    margin: 20px;
    font-size: 2rem;
  }

  /*About Styling*/
  .about {
    margin: auto;
    width: 1000px;
  }

  .about .about__img {
    float: left;
    width: 500px;
    height: 428px;
  }

  .about .about__text-container {
    padding: 20px;
    overflow: hidden;
    text-align: left;
  }
}
