/*Colors*/
:root {
  --text-color: #ffffff;
  --background-color: #221727;
  --foreground-color: #5ef4d6;
  --default-color: #4143b1;
  --shadow-color: #000000;
  --small-color: #24e5a3;
}

/*Reset browser for styling*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*General*/
html {
  background: var(--default-color);
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.contact-header {
  margin-top: 10px;
  font-family: "Viga", sans-serif;
  font-weight: lighter;
  text-align: center;
}

/*Contact Information*/
.contact-info {
  border: 1px solid white;
}

/*Contact Form*/
.contact-form {
  border: 1px solid white;
}
