$text-color: #ffffff;
$background-color: #221727;
$foreground-color: #5ef4d6;
$default-color: #4143b1;
$opactiy-header: rgba(34, 23, 39, 0.8);
$main-font: Rubik, sans-serif;
$secondary-font: Viga, sans-serif;
