*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Rubik, sans-serif;
  line-height: 1.6;
  background: #4143b1 url("./../images/mintbean-dome.png") no-repeat center;
  background-position-y: 10px;
}

button {
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #5ef4d6;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-style: none;
  border-radius: 5px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
  background-color: #221727;
}

nav .nav-items {
  display: none;
}

nav .hamburger {
  display: inline-block;
}

nav .hamburger div {
  background-color: #5ef4d6;
  width: 35px;
  height: 4px;
  margin: 5px;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 40px 30px;
  padding: 25px 30px 10px 30px;
  max-width: 500px;
  min-width: 200px;
  color: #ffffff;
  border: 2px solid #5ef4d6;
  border-radius: 10px;
  background: rgba(34, 23, 39, 0.8);
}

.header-text h1 {
  font-family: "Viga";
  font-size: 1.32em;
  font-weight: lighter;
}

.header-text button {
  font-size: 1.1em;
  margin: 20px 0px;
  padding: 10px 20px;
}

@media (min-width: 700px) {
  html {
    background-position-y: 0px;
  }
  nav .hamburger {
    display: none;
  }
  nav .hamburger div {
    display: none;
  }
  nav .nav-items {
    display: block;
    color: #ffffff;
    font-family: #4143b1;
    font-weight: 100;
  }
  nav .nav-items a {
    color: #ffffff;
    text-decoration: none;
  }
  .header-text {
    margin: 100px 0px 0px 100px;
  }
}
