/*Colors*/
:root {
  --text-color: #ffffff;
  --background-color: #221727;
  --foreground-color: #5ef4d6;
  --default-color: #4143b1;
  --opactiy-header: rgb(34, 23, 39, 0.8);
}

/*Reset browser for styling*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*General Styling*/
html {
  background: var(--default-color) url("./../images/mintbean-dome.png");
  background-size: 1400px;
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}

/*Nav Styling*/
nav {
  background-color: var(--background-color);
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 120px;
}

nav .nav-items {
  color: var(--text-color);
  font-family: "Viga";
  font-weight: 100;
}

nav .nav-items a {
  color: var(--text-color);
  text-decoration: none;
}

nav .hamburger div {
  background-color: var(--foreground-color);
  width: 35px;
  height: 4px;
  margin: 5px 0;
}

nav .hamburger {
  display: none;
}

/*Header Text Styling*/
.header-text {
  background-color: var(--opactiy-header);
  border: 2px solid var(--foreground-color);
  color: var(--text-color);
  border-radius: 10px;
  width: 525px;
  margin: 160px 0px 0px 150px;
  padding: 20px 40px;
}

.header-text h1 {
  font-size: 1.32em;
  font-family: "Viga";
  padding: 10px;
}

.header-text button {
  font-size: 1.1em;
  margin: 10px 0px;
  padding: 10px 20px;
}

button {
  background-color: var(--foreground-color);
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1em;
  border-style: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px 20px;
}

/*Mobile Styling*/
@media screen and (max-width: 750px) {
  nav {
    padding: 15px 70px;
  }

  nav .nav-items {
    display: none;
  }

  nav .hamburger {
    display: inline;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 160px;
  }
}
