/*Colors*/
:root {
  --text-color: #ffffff;
  --background-color: #221727;
  --foreground-color: #5ef4d6;
  --default-color: #4143b1;
  --shadow-color: #000000;
  --small-color: #24e5a3;
}

/*Reset browser for styling*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*General*/
html {
  background: var(--default-color);
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.contact-header {
  margin-top: 10px;
  font-family: "Viga", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: var(--foreground-color);
  text-shadow: 0px 3px 4px var(--shadow-color);
}

/*Contact Information*/
.contact-info {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2.5px solid var(--foreground-color);
  border-radius: 8px;
  box-shadow: 0px 3px 4px var(--shadow-color);
}

.contact-info__text {
  margin: 15px 0px;
}
.contact-info__icons__img {
  margin: 0px 5px;
  width: 50px;
  border: 2.5px solid var(--foreground-color);
  border-radius: 100%;
}

/*Contact Form*/
.contact-form {
  width: 335px;
}

.contact-form__input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  font-family: "Rubik";
  font-weight: bold;
  background-color: var(--background-color);
  border: 2.5px solid var(--foreground-color);
  border-radius: 8px;
  box-shadow: 0px 3px 4px var(--shadow-color);
}

.contact-form textarea {
  height: 85px;
  vertical-align: top;
  font-family: "Rubik";
  font-weight: bold;
  text-align: left;
}

.contact-form button {
  width: 100%;
  height: 45px;
  font-family: "viga", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  background-color: var(--foreground-color);
  border-radius: 8px;
  border: 1px solid var(--foreground-color);
  box-shadow: 0px 3px 4px var(--shadow-color);
}

@media (min-width: 700px) {
  /*General*/
  .contact-header {
    margin-top: 50px;
  }

  .contact-container {
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
  }

  /*Contact Information*/
  .contact-info {
    margin-right: 20px;
    width: 500px;
  }

  /*Contact Form*/
  .contact-form {
    margin-bottom: 25px;
    width: 500px;
  }
}
